
.fade-container {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

.fade-text {
  opacity: 0;
  transition: opacity 0.2s ease-out;
  position: absolute;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

/* Hide scrollbar for all browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
